#titulo{
    color: darkgreen;
}
p strong{
 
color: red;
}
p {
    ;
}
.destacado{
    color: orange;
}
#subtitulo{
    color: blue;
}
p a{
    color: red;
}
p em{
    color: blue;
}

.azul{
    color: blue;
    text-align: left;
}

table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
.especial{
    color: orange;
}
#adicional{
color: olivedrab;
}
div a{
    color: lime;
}
#especial{
    color: mediumvioletred;
}

