
h1{
    text-align: center;
    margin: 0;
    padding: 0;
 
}

h2{
    color:black;
   
}



p{
    font-family: arial;
    text-indent: 5ch;
    font-weight: bold;
    
}
p span{
    color:blue;

}
 
h1 span{
    color: red;
}
p a span em{

    color: blue;
}

