body{

    background-color:#BCBEC0;
   
.lala{
    background-image:url(https://cdn.star.nesdis.noaa.gov//GOES16/ABI/SECTOR/PR/GEOCOLOR/GOES16-PR-GEOCOLOR-600x600.gif);
    background-size: cover;
    

}

