*{

    margin: 0em;
    padding: 0em;
}

body{


    background:url(imagen/fondoclaro.jpg);
}



nav{

    background: url(imagen/black.jpg);
}

.rocas{

    background: url(imagen/rocas.jpg);
}

h2{
    font-family: cursive;
}