body{
  
    font-family: Arial;

}
#main-container{

    margin:20px auto ;
    width: 1112px;
}

table{
    background-color:wheat;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th,td{
    
    padding: 20px;
}
thead{
    background-color:gray;
    border-bottom: solid 5px #0F362D;

}
tr:nth-chil(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
    color:white
}